body{
background-color:lightgreen;
}
p,span{
padding-top: 10px;
font-family:'Special Elite',fantasy;
font-size:25px;
}
h1{
    font-family:'Special Elite',fantasy;  
    color:darkblue;
    background-color:cornsilk; 
}
#sketch_name{
    color:red;
}
#show_sketch{
    float:right;
}
canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration:4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes example{
   from{box-shadow: 20px 5px 5px red;}
   to{box-shadow: 3px 3px red, -1em 0 .4em olive;}
}